.item {
  margin-top: 10px;
  width: 150px;
  padding: 0 0.8rem 0.8rem 0.8rem;
  background-color: rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
  text-align: center;
  border-radius: 20px;
  margin-left: 10px;
}
.item img {
  margin-top: 0.5rem;
  height: 130px;
  object-fit: contain;
}
.item-foot {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.item-head p {
  margin: 0;
  margin-bottom: 0.5rem;
}
.item-head {
  text-align: left;
  flex: 1;
  margin-top: 1rem;
  margin-bottom: 0.5rem;
  display: flex;
  flex-direction: column;
}
.item-name {
  font-weight: 600;
  font-size: 0.9em;
  text-transform: capitalize;
  flex: 1;
}
.item-price {
  font-weight: 700;
}
